body{
  background-color: rgb(238, 240, 243);
}
h1{
  justify-content: center;
  text-align: center;
  font-size: 35px;
  color: rgb(59, 57, 57);
}
.container{
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}
.container button{
  margin-left: 30px;
padding:9px 11px;
border: none;
}
.container button img{
  border-radius: 100%;
  background-color: rgb(186, 218, 245);
}
.results{
  margin-top: 70px;
  justify-content: center;
  text-align: center;
  color: rgb(51, 48, 48);
  font-size: 21px;
}