body {
  font-family: Arial;
}

#main-heading {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 150px 100px;
  column-gap: 20px;
  row-gap: 15px;
  margin-top: 13px;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rgb(250, 247, 247); */
  border-radius: 10px;
  padding: 25px 5px;
  /* width: 900px; */
  background-color: rgb(241, 245, 249);
}

.todo-container{
  border-radius: 1px solid red;
}

#todo-input, #todo-date {
  font-size: 15px;
  padding: 10px 5px;
}

.btn-delete {
  background-color: rgb(200, 82, 82);
  color: rgb(250, 246, 246);
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  cursor: pointer;
}

.btn-todo {
  background-color: rgb(131, 244, 144);
  color: rgb(252, 234, 234);
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  cursor: pointer;
}

